
@{
    ViewData["Title"] = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Tatlı Tarifleri</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />


</head>
<body>
    <div class="container" text-center>
        <div class="row ">
            <h3>Yorumlar</h3>
        </div>
    </div>
    <div class="container mt-1 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <ul class="list-unstyled">
                        <!--FIRST LIST ITEM-->
                        <li class="media">
                            <span class="round pt-2"><img src="https://img.icons8.com/bubbles/100/000000/groups.png" class="align-self-start mr-3"></span>
                            <div class="media-body">
                                <div class="row d-flex">
                                    <h6 class="user pt-2">Michael Andrews</h6>
                                    <div class="ml-auto">
                                        <p class="text">3m</p>
                                    </div>
                                </div>
                                <p class="text">Liked four of your artworks</p>
                                <div class="images mt-2"> <img src="https://img.icons8.com/bubbles/100/000000/couple-icloud.png" /> <img src="https://img.icons8.com/bubbles/100/000000/check-male.png" /> <img src="https://img.icons8.com/bubbles/100/000000/lock-female-user.png" /> <img src="https://img.icons8.com/bubbles/100/000000/lock-male-user.png" /> </div>
                            </div>
                        </li>
                        <!--SECOND LIST ITEM-->
                        <li class="media my-5">
                            <span class="round"> <img src="https://img.icons8.com/bubbles/100/000000/lock-female-user.png" class="align-self-start mr-3"> </span>
                            <div class="media-body">
                                <div class="row d-flex">
                                    <h6 class="user">Craig Carder</h6>
                                    <div class="ml-auto">
                                        <p class="text">9m</p>
                                    </div>
                                </div>
                                <p class="text">Followed you</p>
                            </div>
                        </li>
                        <!--THIRD LIST ITEM-->
                        <li class="media">
                            <span class="round"><img src="https://img.icons8.com/bubbles/100/000000/groups.png" class="align-self-start mr-3"></span>
                            <div class="media-body">
                                <div class="row d-flex">
                                    <h6 class="user">Allison Kenter, Alhena Culhane and 57 others</h6>
                                    <div class="ml-auto">
                                        <p class="text">1h</p>
                                    </div>
                                </div>
                                <p class="text mb-2">Liked your "Women in Jail" Artwork</p> <img src="https://img.icons8.com/bubbles/100/000000/lock-female-user.png" />
                            </div>
                        </li>
                        <!--FOURTH LIST ITEM-->
                        <li class="media my-5">
                            <span class="round"><img src="https://img.icons8.com/office/100/000000/user-group-man-man--v1.png" class="align-self-start mr-3"></span>
                            <div class="media-body">
                                <div class="row d-flex">
                                    <h6 class="user">Giana Ekstrom Bothman</h6>
                                    <div class="ml-auto">
                                        <p class="text">2h</p>
                                    </div>
                                </div>
                                <p class="text">Commented on your"Le Doux" Artwork</p>
                                <div class="media mt-3 comment">
                                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/lock-male-user.png" class="align-self-center mr-1"></a>
                                    <div class="media-body">
                                        <p class="reply">"Love this art, what inspired you to make this<br>&nbsp;wonderful artwork?"</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--FIFTH LIST ITEM-->
                        <li class="media">
                            <span class="round"><img src="https://img.icons8.com/office/100/000000/user-group-woman-woman.png" class="align-self-start mr-3"></span>
                            <div class="media-body">
                                <div class="row d-flex">
                                    <h6 class="user">Leo Aminoff</h6>
                                    <div class="ml-auto">
                                        <p class="text">24h</p>
                                    </div>
                                </div>
                                <p class="text">Bought your "Palace of Versailles"</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
